/*body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('images/moscow1930.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
    text-shadow: 1px 1px 3px black;
}

header {
    background-color: rgba(0, 0, 0, 0.6); 
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2); 
    color: #ddd;
}

main {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

section {
    margin-bottom: 30px;
}

footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    border-radius: 5px;
}*/






body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('images/moscow1930.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff; /* Белый цвет текста */
    text-shadow: 2px 2px 5px black; /* Чёрная тень для текста */
}

header {

    margin-top: 200px; /* Это поднимет весь блок с текстом немного вверх */

    background-color: transparent; /* Убирает фон */

}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Полупрозрачный белый фон при наведении */
    color: #ddd;
}

main {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6); /* Полупрозрачный чёрный фон для основного контента */
    border-radius: 10px;
    color: #f0f0f0; /* Светло-серый цвет текста */
}

section {
    margin-bottom: 30px;
}

footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    border-radius: 5px;
}


h1 {
    /*font-size: 48px;
    color: #D3D3D3; /* Светлый серый цвет 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); */
    
    font-size: 48px;
    color: #D3D3D3; /* Светлый серый цвет */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Легкая тень для лучшей читаемости */
    background-color: transparent; /* Убираем фон */
    border: none; /* Убираем обводку */
    padding: 0; /* Убираем отступы */


}

}

p {
    line-height: 1.6; 
}


